# Compiler files
cache/
out/
build/
artifacts/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.env.local
.env.*

# Editor configs
.vscode/
.agent/
.idea/
*.swp
*.local.*
*.DS_Store
.history/

# Node modules
node_modules/

# Foundry
.foundry/
.qd/

# Libraries (dependencies)
lib/